* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
a{
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: 'Anders';
  src: url('./webfonts_Anders/Anders.ttf.woff') format('woff');
  /* Add more font formats if needed */
}

html{
  scroll-behavior: smooth;
}
header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  font-family: "Montserrat",sans-serif;
}
header .navbar ul{
  list-style: none;
}
header .navbar ul li{
  position: relative;
  float: left;
}
header .navbar ul li a{
  display: block;
  font-size: 15px;
  padding: 10px;
  color: hsla(210, 26%, 7%, 0.7);
  font-weight: 700;
}
header .navbar ul li a:hover{
  color: black;
}
#menu-bar{
  display: none;
}
header label{
  position: relative;
  right: 10px;
  top: 2px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
header label p{
  margin-bottom: 2px;
  width: 15px;
  height: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: black;
}
@media (max-width:540px) {
  header label{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    display: none;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .navbar ul{
    height: 100vh;
    background-color: white;
    max-width: 80%;
    float: right;
    z-index: 2001;
  }
  header .navbar ul li{
    width: 100%;
  }
  #menu-bar:checked ~ .navbar{
    display: initial;
  }
}
.cont{
  background-color: #f6f6f6;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100vh;
  background-color: #f6f6f6;
  overflow-y: hidden;
  
}

main .text {
  width: 50%;

}

main .text .top {
  width: 100%;
  text-align: center;
  margin-top: 0px;
}

main .text .top p {
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-family: "Montserrat",sans-serif;
}

main .text .top h1 {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'anders';
  font-size: 90px;
  font-weight: normal;
}

main .text .top h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 1px;
}

main .text .bottom {
  margin-top: 200px;
  display: flex;
  padding: 10px 80px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: #414040;
}

main .text .bottom p {
  position: relative;
}

main .text .bottom p::after {
  position: absolute;
  content: '';
  background-color: black;
  width: calc(100% + 20px);
  height: 1px;
  bottom: -15px;
  left: -10px;
}

main .image {
  width: 50%;
}

main .image img {
  width: 100%;

}
@media (min-width:1375px) {
  main{
    max-width: 1375px;
    margin: auto;
  }
  main .text .top p{
    font-size: 25px;
  }
  main .text .top h1{
    font-size: 150px;
  }
  main .text .top h4{
    letter-spacing: 17px;
    font-weight: 700;
  }
}
@media (max-width:1025px) {
  main {
    flex-direction: column;
  }

  main .text {
    width: 100%;
  }

  main .text .top {
    margin-top: 70px;
  }

  main .text .bottom {
    padding: 10px 25%;
    margin-bottom: 20px;
  }
}

@media (max-width:600px) {
  main{
    max-height: 100%;
  }
  main .text .bottom {
    flex-direction: column;
    text-align: center;
  }

  main .text .bottom p {
    margin-top: 15px;
  }
}
.bio{
  margin-top: 80px;
  padding: 15px 50px;
}
.bio .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.bio .top p{
  font-family: sans-serif;
  font-size: 20px;
}
.bio .top h3{
  font-size: 30px;
  font-weight: normal;
  font-family: "Bogart",sans-serif;
}
.bio .under-bio {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bio .under-bio .image{
  width: 50%;
}
.bio .under-bio .image img{
  max-width: 100%;
}
.bio .under-bio .text{
  width: 50%;
  padding: 10px;
  padding-left: 20px;
  font-family: "Montserrat",sans-serif;
}
.bio .under-bio .text p{
  margin-bottom: 40px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: rgb(99, 98, 98);
  font-size: 17px;
}
@media (min-width:1375px) {
  .bio {
    max-width: 1375px;
    margin: 60px auto;
    margin-bottom: 150px;
  }
  .bio .top{
    margin: auto;
  }
  .bio .top p{
    font-weight: 500;
    font-size: 22px;
  }
  .bio .top h3{
    font-size: 50px;
  }
  .bio .under-bio .image{
    width: 500px;
  }
  .bio .under-bio .text p{
    font-size: 21px;
    font-weight: 500;
  }
}
@media (max-width:1025px) {
  .bio .top{
    flex-direction: column;
    align-items: flex-start;
  }
  .bio .top h3{
    margin-top: 20px;
  }
  .bio .under-bio{
    flex-direction: column;
  }
  .bio .under-bio .image{
    margin-bottom: 20px;
  }
  .bio .under-bio .text{
    width: 100%;
  }
}
.three{
  margin-top: 30px;
  padding: 10px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.three .background{
  width: 30%;
}
.three .background h1,
.three .expertise h1{
  letter-spacing: 1px;
  font-family:  "Bogart",sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}
.three .background p{
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-family: "Montserrat",sans-serif;
  margin-bottom: 40px;
  max-width: 90%;
}
.three .background h3{
  max-width: 90%;
  line-height: 1.6;
  font-family: "Montserrat",sans-serif;
  font-size: 17px;
}
.three .expertise{
  width: 30%;
}
.three .expertise li{
  margin-bottom: 10px;
}
.three .expertise li p{
  color: #414040;
  font-size: 17px;
  font-family: "Montserrat",sans-serif;
  letter-spacing: 1px;
}
.three .image{
  width: 30%;
  padding-top: 100px;
  align-self: flex-end;
}
.three .image img{
  max-width: 100%;
}
@media (min-width:1375px) {
  .three{
    margin-top: 90px;
    max-width: 1375px;
    margin: 50px auto;
  }
  .three .background h1,
.three .expertise h1{
  font-size: 45px;
}
  .three .expertise{
    padding-left: 25px;
  }
  .three .background p{
    max-width: 410px;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 90px;
  }
  .three .background h3{
    max-width: 350px;
    font-size: 20px;
  }
  .three .expertise li {
    font-weight: bolder;
    font-size: 30px;
  }
  .three .expertise li p{
    font-weight: 500;
    font-size: 22px;
  }
}
@media (max-width:1025px){
  .three{
    flex-direction: column;
  }
  .three .background{
    width: 50%;
    margin: auto;
  }
  .three .background h3{
    margin-bottom: 50px;
  }
  .three .expertise{
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
  }
  .three .image{
    width: 50%;
    margin: auto;
  }
}
@media(max-width:600px){
  .three .background{
    
    width: 90%;
    margin: auto;
  }
  .three .expertise{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
  }
  .three .image{
    width: 90%;
    margin: auto;
  }
}
.four{
  padding: 10px 50px;
}
.four p{
  font-size: 25px;
  text-transform: uppercase;
  font-family: 500;
  font-family: sans-serif;
  padding: 15px 10px;
  margin-left: 50px;
}
.work{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work .our{
width: 48%;
height: 600px;
}
.work .our .image{
  height: 400px;
  width: 100%;
}
.work .our .image img{
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}
.work .our p{
  margin-left: -15px;
  margin-top: 20px;
  margin-bottom: -15px;
  font-size: 50px;
  font-family: "Bogart",sans-serif;
  text-transform: capitalize;
}
.work .our span{
  font-size: 50px;
  font-family: "Bogart",sans-serif;
  text-transform: capitalize;
}
.work .info{
  width: 50%;
  height: 600px;
}
.work .info img{
  height: 400px;
  max-width: 100%;
}
.work .info p{
  margin-top: 20px;
  font-family: "Montserrat",sans-serif;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: capitalize;
}
@media (min-width:1375px) {
  .four{
    max-width: 1375px;
    margin: 30px auto;
    margin-bottom: 90px;
  }
  .four p{
    margin-bottom: 25px;
  }
  .work{
    justify-content: center;
  }
  .work .our {
    max-width: 600px;
  }
  .work .our .image{
    max-width: 600px;
  }
  .work .our .image img{
    max-width: 600px;
  }
  .work .info{
    max-width: calc(100% - 600px);
    margin-left: 10px;
  }
  .work .info p{
    max-width: 90%;
    margin:20px auto; 
    font-weight: 500;
    line-height: 2;
    font-size: 20px;
  }
  .work .our p{
    font-size: 70px;
  }
  .work .our span{
    font-size: 70px;
  }
}
@media (max-width:1025px) {
  .work{
    flex-direction: column;
  }
  .work .our .image{
    margin-bottom: 20px;
  }
  .work .our p{
    display: inline;
  }
  .work .info{
    width: 80%;
    height: 600px;
  }
  .four p{
    text-align: left;
  }
}
@media(max-width:600px){
  .work{
    
    width: 90%;
    margin: auto;
  }
  .work .our .image img{
    height: 80%;
  }
  .work .info{
    margin-bottom: 150px;
  }
}
.fife{
  margin-top: 30px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 600px; */
}
.fife .text{
  width: 50%;
  max-width: 50%;
  align-self: flex-start;
}
.fife .text h1{
  margin-top: 50px;
  font-size: 50px;
  font-family: "Bogart",sans-serif;
  text-transform: capitalize;
  font-weight: 500
}
.fife .text h2{
  margin-top: -10px;
  font-size: 50px;
  font-family: "Bogart",sans-serif;
  text-transform: capitalize;
  font-weight: 500;
}
.fife .text p{
  margin-top: 70px;
  width: 50%;
  font-family: "Montserrat",sans-serif;
  letter-spacing: 1.5px;
  color: #414040;
  line-height: 1.6;
  font-size: 18px;
  font-weight: normal;
}
.fife .image{
  width: 50%;
  max-width: 50%;
  padding: 50px;
}
.fife .image img{
  max-width: 100%;
}
@media (max-width:1025px) {
  .fife{
    flex-direction: column;
  }
  .fife .text{
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .fife .text h1,.fife .text h2{
    display: inline;
  }
  .fife .text p{
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
  }
  .fife .image{
    max-width: 70%;
    width: 100%;
    padding: 0;
  }
  .fife .image img{
    max-width: 100%;
  }
  
}
@media (min-width:1375px) {
  .fife{
    max-width: 1375px;
    margin: 10px auto;
    margin-bottom: 60px;
  }
  .fife .text h1,.fife .text h2{
    font-size: 70px;
    font-weight: normal;
  }
  .fife .text p{
    width: 66%;
    font-size: 22px;
    font-weight: 500;
  }
}
.six{
  margin-top: 30px;
  padding: 10px 50px;
}
.six h1{
  margin-top: 50px;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 1px;
}
.six p{
  margin-top: 30px;
  width: 30%;
  letter-spacing: 1px;
  font-size: 20px;
  color: black;
  line-height: 1.6;
  font-weight: normal;
  font-family: "Montserrat",sans-serif;
  margin-bottom: 30px;
}
.six .image {
  max-width: 100%;
  width: 100%;
}
.six .image img{
  max-width: 100%;
}
@media (max-width:1025px) {
  .six p{
    width: 100%;
  }
}
@media (min-width:1375px) {
  .six{
    max-width: 1375px;
    margin: 10px auto;
  }
  .six h1{
    margin-bottom: 60px;
    font-size: 70px;
  }
  .six p{
    font-weight: 500;
    width: 33%;
    font-size: 22px;
    margin-bottom: 70px;
  }
  .six .image img{
    width: 1500px;
  }
  .six .image{
    margin-bottom: 70px;
  }

}
@media (max-width:450px) {
  .six{
    padding: 10px 10px;
  }
}
.seven{
  margin-top: 30px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seven .text{
  width: 50%;
  max-width: 50%;
  max-height: 100%;
}
.seven .text h1{
  font-size: 50px;
  font-family: "Bogart",sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.seven .text p{
  margin-top: 30px;
  max-width: 55%;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: normal;
  font-size: 18px;
  font-family: sans-serif;
}
.seven .image{
  align-self: flex-start;
  max-height: 50%;
  width: 50%;
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%,1fr));
  gap: 20px;
}
.seven .image .imgg{
  background-color: #f6f6f6;
  max-width: 100%;
  max-height: 100%;
}
.seven .image .imgg img{
  max-width: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 25%;
  margin-right: 25%;
}
@media (min-width:1375px) {
  .seven{
    max-width: 1375px;
    margin: 10px auto;
    margin-top: 70px;
  }
  .seven .text{
    margin-top: -100px;
  }
  .seven .text h1{
    font-size: 75px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  .seven .text p{
    font-size: 22px;
    max-width: 70%;
    font-weight: 500;
  }
  .seven .image{
    max-width: 450px;
  }

}
@media (max-width:1025px) {
  .seven {
    flex-direction: column;
    width: 100%;
  }
  .seven .text{
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .seven .text p{
    max-width: 100%;
  }
  .seven .image {
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(40%,1fr));
  }
}
@media (max-width:830px) {
  .seven .image .imgg img{
    margin-left: 10%;
  margin-right: 25%;
  }
}
@media (max-width:630px) {
  .seven .image {
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
  }
  .seven .image .imgg img{
    padding: 10px;
  }
}
.eigth{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eigth .text{
  background-color: #f6f6f6;
  width: 50%;
  max-width: 50%;
  padding: 200px 0;
}
.eigth .text p{
  max-width: 50%;
  margin: auto;
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: "Bogart",sans-serif;
}
.eigth .image{
  width: 50%;
  max-width: 50%;
  padding: 10%;
}
.eigth .image img {
  max-width: 100%;
}
@media (max-width:1025px) {
  .eigth{
    flex-direction: column;
  }
  .eigth .image {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width:1375px) {
  .eigth{
    max-width: 1375px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .eigth .text{
    padding: 150px 0px;
  }
  .eigth .text p{
    font-size: 50px;
    max-width: 70%;
    line-height: 1.4;
  }
}
@media (max-width:900px) {
  .eigth .text{
  width: 80%;
  max-width: 80%;
  margin: auto;
  }
  .eigth .text p{
    max-width: 90%;
    margin: auto;
  }
}
.nine{
  margin: 100px 50px;
}
.nine h1{
  font-size: 50px;
  font-family: "Bogart",sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.nine .contant{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nine .image{
  width: 50%;
  max-width: 50%;
}
.nine .image img{
  max-width: 100%;
}
.nine .text {
  align-self: flex-start;
  max-width: 45%;
  width: 45%;
}
.nine .text .top{
  margin-top: 35px;
  margin-bottom: 25px;
}
.nine .text .top p{
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Montserrat",sans-serif;
  font-weight: normal;
}
.nine .text .top h1{
  font-size: 20px;
  font-weight: 500;
}

.nine .text .middle p{
  margin-bottom: 15px;
  font-size: 19px;
  font-family: "Bogart",sans-serif;
}
.nine .text .bottom{
  margin-top: 40px;
}
.nine .text .bottom p{
  margin-bottom: 15px;
  font-size: 17px;
  font-family: sans-serif;
}
.nine .text .bottom h1{
  font-size: 20px;
  font-weight: 500;
  font-family: "Bogart",sans-serif;
}
@media (min-width:1375px) {
  .nine{
    max-width: 1375px;
    margin: 0 auto;
  }
  .nine .h1{
    margin-bottom: 120px;
    font-size: 75px;
    margin-left: 100px;
  }
  .eigth .contant{
    
  }
  .nine .image{
    width: 50%;
  }
  
  .nine .text{
    margin-top: 70px;
    margin-left: 150px;
  }
  .nine .image img{
    max-width: 660px;
    margin-left: 100px;
  }
  .nine .text .top{
    margin-top: -30px;
  }
  .nine .text .top h1{
    margin-top: 15px;
    padding-top: 20px;
    margin-bottom: 50px;
    font-size: 22px;
  }
  .nine .text .middle {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .nine .text .middle p{
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .nine .text .bottom{
    margin-top: 60px;
  }
  .nine .text .bottom p{
    font-size: 21px;
    margin-bottom: 25px;
  }
  .nine .text .bottom h1{
    font-size: 22px;
    font-weight: 500;
  }
}
@media (max-width:1025px) {
  .nine .contant{
    flex-direction: column;
  }
  .nine .image {
    width: 80%;
    max-width: 80%;
    margin-bottom: 20px;
  }
  .nine .text {
    width: 60%;
    max-width: 60%;
    margin: auto;
  }
}
@media (max-width:460px) {
  
}